Port 2026
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

AuthorizedKeysFile /keys/authorized_keys

PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM no
PubkeyAuthentication yes

StrictModes no

X11Forwarding no
PrintMotd no

Subsystem sftp internal-sftp

Match User prisma
    ForceCommand internal-sftp
    AllowTcpForwarding no
    X11Forwarding no
